.oe_stat_button {
    &:hover {
        .o_boolean_button.o_not_hover {
            display: none;
        }
        .o_boolean_button.o_hover {
            display: inline-block !important;
        }
    }
}

.oe_prod_config_image {
    img {
        min-height: 30px;
    }
}

.pull-right {
    float: right;
}
