[submodule "osi-addons"]
	path = odoo/src/osi-addons
	url = https://github.com/ursais/osi-addons.git
	branch = 15.0
[submodule "odoo/src/enterprise"]
	path = odoo/src/enterprise
	url = https://github.com/ursais/enterprise.git
[submodule "odoo/odoo-base"]
	path = odoo/odoo-base
	url = https://github.com/ursais/odoo.git
