.bin_label {
    h1 {
        font-size: 38pt;
        font-weight: bold;
        clear: both;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 10px;
    }
    .main-info {
        font-size: 14pt;
        float: left;
        text-align: left;
        width: 100%;
        .sale-info {
            font-size: 16pt;
        }
        .flag {
            font-weight: bold;
            font-size: 28pt;
            float: right;
            display: inline-block;
            padding-right: 5%;
        }
    }
    .name {
        padding-top: 75px;
    }
    .product {
        text-align: center;
        margin-bottom: 5px;
    }
    .footer-left {
        text-align: left;
        float: left;
        width: 75%;
        font-size: 16pt;
    }
    .footer-right {
        text-align: left;
        float: right;
        width: 25%;
        font-size: 16pt;
    }
    .bold {
        font-weight: bold;
    }
}
