.stock-inventory-label {

    font-family: "Heebo";
    font-size: 14pt;

    .label-header {
        font-size: 18px;
        .location {
            float: right;
            margin-right: 10px;
        }
    }


    table, tr, td {
        border: 2px solid black;
        border-collapse: collapse;
    }

    table.inventory-count {
        width: 100%;
        tr {
            height: 135px;
            td {
                width: 115px;
            }
        }

        .row-label {
            text-align: center;
            text-decoration: underline;
            font-size: 14pt;
        }

        .input-line {
            width: 90%;
            margin-left: 10px;
            margin-top: 100px;
            border-bottom: 1px solid black;
        }
        .counted-label {
            float: right;
            width: 100%;
            text-align: center;
            font-size: 10pt;
        }

    }
}
