<odoo>

    <!-- ============== -->
    <!-- MENU STRUCTURE -->
    <!-- ============== -->
    <menuitem
        id="menu_mrp_traveler_parent"
        name="Traveler"
        parent="mrp.menu_mrp_root"
        groups="mrp.group_mrp_user,mrp.group_mrp_manager"
        sequence="25"
    />

    <!-- Assembly Stage Action -->
    <record id="action_mrp_assembly_stage_tree" model="ir.actions.act_window">
        <field name="name">Assembly Stage</field>
        <field name="res_model">mrp.assembly.stage</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="ol_mrp_traveler.mrp_assembly_stage_tree_view"/>
    </record>

    <!-- Assembly Stage Menu Item -->
    <menuitem
        id="menu_mrp_assembly_stage"
        parent="menu_mrp_traveler_parent"
        action="ol_mrp_traveler.action_mrp_assembly_stage_tree"
        sequence="10"
    />

    <!-- Assembly Check Action -->
    <record id="action_mrp_assembly_check_tree" model="ir.actions.act_window">
        <field name="name">Assembly Checks</field>
        <field name="res_model">mrp.assembly.check</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="ol_mrp_traveler.mrp_assembly_check_tree_view"/>
    </record>

    <!-- Assembly Check Menu Item -->
    <menuitem
        id="menu_mrp_assembly_check"
        parent="menu_mrp_traveler_parent"
        action="ol_mrp_traveler.action_mrp_assembly_check_tree"
        sequence="20"
    />

</odoo>
